<!DOCTYPE html>
<html>
    <head>
         <title>
             chatchannel
         </title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
         <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
         <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded', () => {

            // Connect to websocket
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            var counter = 0;
            var capacity = 100;
            // When connected, configure buttons
        socket.on('connect', () => {
            document.querySelector('#messages').innerHTML=localStorage.getItem('messages');
            // Each button should emit a "submit vote" event
        document.querySelector('#talk').onsubmit = () => {
            const sentence = document.querySelector('#message').value;
        socket.on('submit name',data => {
                var name = `${data.name}`;
            });
            socket.emit('submit word', { 'name':name,'sentence': sentence});
            document.querySelector('#message').value = '';
            return false;
    };
});
            var str ="";
            // When a new vote is announced, add to the unordered list
        socket.on('say a sentence', data => {
            const li = document.createElement('li');
            var Time = new Date();
            time = Time.toLocaleString();
            li.innerHTML = time+` ${data.message}` ;
            var messages = document.getElementsByTagName('ol');
            var obox = document.getElementById("messages");
            var lis = document.getElementsByTagName("li");
            document.querySelector('#messages').append(li);
            if(!document.querySelector('#messages').innerHTML)
            document.querySelector('#messages').innerHTML=`${localStorage.getItem('messages')}`;
            counter++;
            if(counter>capacity)
            obox.removeChild(lis[0]);
            str =  str +li.innerText+"<br/>";
            localStorage.setItem('messages', str);
        }); 
});
         </script>
    </head>
    <body>
        <ol id="messages"></ol>
        <hr>
        <form id="talk">
            <input id="message" autocomplete="off" type="text">
            <input id="submit" type="submit">
        </form>
    </body>
</html>